In [22]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
print(movies)

       movieId                                              title  \
0            1                                   Toy Story (1995)
1            2                                     Jumanji (1995)
2            3                            Grumpier Old Men (1995)
3            4                           Waiting to Exhale (1995)
4            5                 Father of the Bride Part II (1995)
5            6                                        Heat (1995)
6            7                                     Sabrina (1995)
7            8                                Tom and Huck (1995)
8            9                                Sudden Death (1995)
9           10                                   GoldenEye (1995)
10          11                     American President, The (1995)
11          12                 Dracula: Dead and Loving It (1995)
12          13                                       Balto (1995)
13          14                                       Nixon (1995)
14          15                            Cutthroat Island (1995)
15          16                                      Casino (1995)
16          17                       Sense and Sensibility (1995)
17          18                                  Four Rooms (1995)
18          19              Ace Ventura: When Nature Calls (1995)
19          20                                 Money Train (1995)
20          21                                  Get Shorty (1995)
21          22                                     Copycat (1995)
22          23                                   Assassins (1995)
23          24                                      Powder (1995)
24          25                           Leaving Las Vegas (1995)
25          26                                     Othello (1995)
26          27                                Now and Then (1995)
27          28                                  Persuasion (1995)
28          29  City of Lost Children, The (Cité des enfants p...
29          30  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
...        ...                                                ...
27248   131146                      Werner - Volles Rooäää (1999)
27249   131148                                  What A Man (2011)
27250   131150         7 Dwarves: The Forest Is Not Enough (2006)
27251   131152                                 The Fat Spy (1966)
27252   131154  Die Bademeister – Weiber, saufen, Leben retten...
27253   131156                         Ants in the Pants 2 (2002)
27254   131158                                Manta, Manta (1991)
27255   131160                  Oscar and the Lady in Pink (2009)
27256   131162                      Por un puñado de besos (2014)
27257   131164                               Vietnam in HD (2011)
27258   131166                                  WWII IN HD (2009)
27259   131168                                     Phoenix (2014)
27260   131170                                   Parallels (2015)
27261   131172                              Closed Curtain (2013)
27262   131174                                   Gentlemen (2014)
27263   131176                             A Second Chance (2014)
27264   131180                     Dead Rising: Watchtower (2015)
27265   131231                                     Standby (2014)
27266   131237                         What Men Talk About (2010)
27267   131239                          Three Quarter Moon (2011)
27268   131241                           Ants in the Pants (2000)
27269   131243                Werner - Gekotzt wird später (2003)
27270   131248                              Brother Bear 2 (2006)
27271   131250                              No More School (2000)
27272   131252  Forklift Driver Klaus: The First Day on the Jo...
27273   131254                       Kein Bund für's Leben (2007)
27274   131256                      Feuer, Eis & Dosenbier (2002)
27275   131258                                 The Pirates (2014)
27276   131260                                Rentun Ruusu (2001)
27277   131262                                   Innocence (2014)

                                            genres
0      Adventure|Animation|Children|Comedy|Fantasy
1                       Adventure|Children|Fantasy
2                                   Comedy|Romance
3                             Comedy|Drama|Romance
4                                           Comedy
5                            Action|Crime|Thriller
6                                   Comedy|Romance
7                               Adventure|Children
8                                           Action
9                        Action|Adventure|Thriller
10                            Comedy|Drama|Romance
11                                   Comedy|Horror
12                    Adventure|Animation|Children
13                                           Drama
14                        Action|Adventure|Romance
15                                     Crime|Drama
16                                   Drama|Romance
17                                          Comedy
18                                          Comedy
19              Action|Comedy|Crime|Drama|Thriller
20                           Comedy|Crime|Thriller
21             Crime|Drama|Horror|Mystery|Thriller
22                           Action|Crime|Thriller
23                                    Drama|Sci-Fi
24                                   Drama|Romance
25                                           Drama
26                                  Children|Drama
27                                   Drama|Romance
28          Adventure|Drama|Fantasy|Mystery|Sci-Fi
29                                     Crime|Drama
...                                            ...
27248                             Animation|Comedy
27249                               Comedy|Romance
27250                                       Comedy
27251                                       Comedy
27252                                       Comedy
27253                                       Comedy
27254                                       Comedy
27255                                        Drama
27256                                Drama|Romance
27257                                          War
27258                           (no genres listed)
27259                                        Drama
27260                                       Sci-Fi
27261                           (no genres listed)
27262                       Drama|Romance|Thriller
27263                                        Drama
27264                       Action|Horror|Thriller
27265                               Comedy|Romance
27266                                       Comedy
27267                                 Comedy|Drama
27268                               Comedy|Romance
27269                             Animation|Comedy
27270  Adventure|Animation|Children|Comedy|Fantasy
27271                                       Comedy
27272                                Comedy|Horror
27273                                       Comedy
27274                                       Comedy
27275                                    Adventure
27276                           (no genres listed)
27277                     Adventure|Fantasy|Horror

[27278 rows x 3 columns]

## Combine two dataset file

In [24]:
combine_movie_rating= pd.merge(ratings,movies,on='movieId')
#drop the column 'timestamp' since this method doesn't use this tag
combine_movie_rating=combine_movie_rating.drop(['timestamp'],axis = 1)
print(len(combine_movie_rating))
combine_movie_rating.title.value_counts()[:20]

20000263

Pulp Fiction (1994)                                      67310
Forrest Gump (1994)                                      66172
Shawshank Redemption, The (1994)                         63366
Silence of the Lambs, The (1991)                         63299
Jurassic Park (1993)                                     59715
Star Wars: Episode IV - A New Hope (1977)                54502
Braveheart (1995)                                        53769
Terminator 2: Judgment Day (1991)                        52244
Matrix, The (1999)                                       51334
Schindler's List (1993)                                  50054
Toy Story (1995)                                         49695
Fugitive, The (1993)                                     49581
Apollo 13 (1995)                                         47777
Independence Day (a.k.a. ID4) (1996)                     47048
Usual Suspects, The (1995)                               47006
Star Wars: Episode VI - Return of the Jedi (1983)        46839
Batman (1989)                                            46054
Star Wars: Episode V - The Empire Strikes Back (1980)    45313
American Beauty (1999)                                   44987
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)                44980
Name: title, dtype: int64

## Find the total rating count of each movie

In [25]:
movie_rating_count=pd.DataFrame(combine_movie_rating.groupby(['movieId'])['rating'].count().reset_index().rename(columns={'rating':'totalRatingCount'}))
movie_rating_count.head()

   movieId  totalRatingCount
0        1             49695
1        2             22243
2        3             12735
3        4              2756
4        5             12161

## Give a summary of the rating count

In [26]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(movie_rating_count['totalRatingCount'].describe())

count   26744.000
mean      747.841
std      3085.818
min         1.000
25%         3.000
50%        18.000
75%       205.000
max     67310.000
Name: totalRatingCount, dtype: float64

## Compress data again,use 10% of rating count to define 'Popular' movies and recommand them

In [27]:
print(movie_rating_count['totalRatingCount'].quantile(np.arange(.9,1,.01)))

0.900    1305.700
0.910    1543.000
0.920    1848.000
0.930    2285.980
0.940    2847.000
0.950    3612.950
0.960    4700.560
0.970    6219.970
0.980    8835.780
0.990   14388.690
Name: totalRatingCount, dtype: float64

In [28]:
rating_with_totalRatingCount = combine_movie_rating.merge(movie_rating_count,left_on='movieId',right_on='movieId')
print(len(combine_movie_rating))
print(len(rating_with_totalRatingCount))
rating_with_totalRatingCount.head()

20000263
20000263

,userId,movieId,rating,title,genres,totalRatingCount
0,1,2,3.500,Jumanji (1995),Adventure|Children|Fantasy,22243
1,5,2,3.000,Jumanji (1995),Adventure|Children|Fantasy,22243
2,13,2,3.000,Jumanji (1995),Adventure|Children|Fantasy,22243
3,29,2,3.000,Jumanji (1995),Adventure|Children|Fantasy,22243
4,34,2,3.000,Jumanji (1995),Adventure|Children|Fantasy,22243

## Select popular movies

In [29]:
popular_threshold=1305
rating_popular_movies= rating_with_totalRatingCount.query('totalRatingCount>=@popular_threshold')
rating_popular_movies.head()

,userId,movieId,rating,title,genres,totalRatingCount
0,1,2,3.500,Jumanji (1995),Adventure|Children|Fantasy,22243
1,5,2,3.000,Jumanji (1995),Adventure|Children|Fantasy,22243
2,13,2,3.000,Jumanji (1995),Adventure|Children|Fantasy,22243
3,29,2,3.000,Jumanji (1995),Adventure|Children|Fantasy,22243
4,34,2,3.000,Jumanji (1995),Adventure|Children|Fantasy,22243

## Construct a sparse matrix to calculate

In [30]:
ratings_pivot = rating_popular_movies.pivot(index='movieId', columns='userId',values='rating').fillna(0)
ratings_pivot_sparse = csr_matrix(ratings_pivot.values)

## Caculate the cosine similarity between rating vectors

In [31]:
model_nn_binary = NearestNeighbors(metric='cosine', algorithm='brute')
model_nn_binary.fit(ratings_pivot_sparse)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [32]:
query_index=np.random.choice(ratings_pivot.shape[0])
distances, indices = model_nn_binary.kneighbors(ratings_pivot.iloc[query_index, :].values.reshape(1, -1), n_neighbors = 11)

for i in range(0, len(distances.flatten())):
    movieId=ratings_pivot.index[query_index]
    likelymovieId=ratings_pivot.index[indices.flatten()[i]]
    if i == 0:
        print('Current movie:',movies[movies.movieId==movieId]['title'].values[0])
    else:
        print('Recommand movie{0}: {1}, distance is:{2}'.format(i, movies[movies.movieId==likelymovieId]['title'].values[0], 
                                                    distances.flatten()[i]))

Current movie: Dr. T and the Women (2000)
Recommand movie1: Nurse Betty (2000), distance is:0.7345368387187592
Recommand movie2: Bounce (2000), distance is:0.7551314017334508
Recommand movie3: Contender, The (2000), distance is:0.7609314227552183
Recommand movie4: State and Main (2000), distance is:0.7852909794846505
Recommand movie5: Wonder Boys (2000), distance is:0.7940448803908337
Recommand movie6: You Can Count on Me (2000), distance is:0.795414443395799
Recommand movie7: Legend of Bagger Vance, The (2000), distance is:0.8050870048548868
Recommand movie8: Keeping the Faith (2000), distance is:0.8076106764831801
Recommand movie9: What Women Want (2000), distance is:0.8078915941182924
Recommand movie10: Small Time Crooks (2000), distance is:0.8094581133132515

In [33]:
movieId=29
distances, indices = model_nn_binary.kneighbors(ratings_pivot.query('movieId == 29').values, n_neighbors = 11)

for i in range(0, len(distances.flatten())):
    likelymovieId=ratings_pivot.index[indices.flatten()[i]]
    if i == 0:
        print('Current movie:',movies[movies.movieId==movieId]['title'].values[0])
    else:
        print('Recommand movie{0}: {1}, distance is:{2}'.format(i, movies[movies.movieId==likelymovieId]['title'].values[0], 
                                                    distances.flatten()[i]))

Current movie: City of Lost Children, The (Cité des enfants perdus, La) (1995)
Recommand movie1: Delicatessen (1991), distance is:0.5609612915294158
Recommand movie2: Brazil (1985), distance is:0.6153414366133902
Recommand movie3: Blade Runner (1982), distance is:0.661584742255307
Recommand movie4: Dark City (1998), distance is:0.6697961262326608
Recommand movie5: Twelve Monkeys (a.k.a. 12 Monkeys) (1995), distance is:0.6713548084356827
Recommand movie6: Clockwork Orange, A (1971), distance is:0.6762167519110898
Recommand movie7: Trainspotting (1996), distance is:0.6864511942296707
Recommand movie8: Pi (1998), distance is:0.6898976955380305
Recommand movie9: Ghost in the Shell (Kôkaku kidôtai) (1995), distance is:0.7006300194646904
Recommand movie10: 2001: A Space Odyssey (1968), distance is:0.703187155348789